.posts{
    background: #cbffcb;
    display: flex;
    flex-direction: column;
    padding: 60px 15vw 50px;
}
.createPost{
    text-align: center;
}
.createPost > h1,h2,h3{
    margin-bottom: 10px;
    color: #005e00;
}
.createPost a{
    color: #1976d2;
}
.createPost button{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}
.line{
    width: 100%;
    height: 2px;
    background: rgb(159, 212, 159);
}
.sortSelect{
    margin-top: 20px;
    width: 250px;
    background: #e5ffe5;
}